include ../pug/mixins

block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description", content=description)
    
    block head

  body(class=pageClass)
    .wrapper
      //- хедер
      include ../blocks_modules/header/header

      .wrapper-content
        include ../blocks_modules/up-button/up-button
        include ../blocks_modules/table-of-contentes/table-of-contentes
        
        main(class=mainClass, style=mainStyle)
          //- контент
          block content

      //- футер
      include ../blocks_modules/footer/footer

    block script